<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Reserva</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Crear Reserva</h1>
        <form th:action="@{/reservas/crear}" method="post">
            <div class="mb-3">
                <label for="clienteId">Cliente:</label>
                <select name="clienteId" id="clienteId" class="form-control"required>
                    <option value="" disabled selected>Seleccione un cliente</option>
                    <!-- Lista de clientes -->
                    <th:block th:each="cliente : ${clientes}">
                        <option th:value="${cliente.id}" th:text="${cliente.nombre}"></option>
                    </th:block>
                </select>
             </div>
            <div class="mb-3">
                <label for="mesaId">Mesa:</label>
                <select name="mesaId" id="mesaId" class="form-control"required>
                    <option value="" disabled selected>Seleccione una mesa</option>
                    <!-- Suponiendo que mesas es una lista pasada desde el controlador -->
                    <th:block th:each="mesa : ${mesas}">
                        <option th:value="${mesa.id}" th:text="'Mesa ' + ${mesa.id}"></option>
                    </th:block>
            
                </select>
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" id="fecha" name="fecha" class="form-control">
            </div>
            <div class="mb-3">
                <label for="hora" class="form-label">Hora</label>
                <input type="time" id="hora" name="hora" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Crear Reserva</button>
        </form>
    </div>
</body>
</html>
